<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317283127818-c3ribetukc0gkevhokqf2v21ot5gtt4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317283127818-c3ribetukc0gkevhokqf2v21ot5gtt4v</string>
	<key>API_KEY</key>
	<string>AIzaSyD_uVsWEMz6IJ0x2lksYQT7WfsdQoXovx4</string>
	<key>GCM_SENDER_ID</key>
	<string>317283127818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busanUnivMatzip</string>
	<key>PROJECT_ID</key>
	<string>busan-matzip</string>
	<key>STORAGE_BUCKET</key>
	<string>busan-matzip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317283127818:ios:893eeae5bc0201f90c85f3</string>
</dict>
</plist>